body{
	background-color: #161214;
	justify-content: center;
	font-family: Bradley Hand, cursive;

}
h1{
	color: #fe3546;
	margin-left: 2%;
}
h2{
	color: #fe3546;
	margin-left: 2%;
}
li{
	color: #C1C0C0;
	font-size: 20px;
	margin-left: 4%;
}
a{
	color: #FF6E7A;
	text-decoration: none;
}
body.scroll-Lock{
	overflow: hidden;
}
.main-logo{
	z-index: 5;
	position: absolute;
	display: flex;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	justify-content: center;
	align-items: center;
	transition: 1s;
}
.main-logo.start-anim{
	opacity: 0;
	display: hidden;
}
.main-logo-text{
	color: #f27777;
	font-weight: 1000;
	font-size: 950%;
}
.image-container{
	display: block;
	background-color: #0D0B0C;
	margin-top: -10px;
	min-width: 1000px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 30px #0D0B0C;
	border-radius: 1px 1px 30px 30px;
	overflow: hidden;
}
.helper-image-logo-box{

}
.helper-image-logo{
	height: 100%;
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.helper-image-body-box{

}
.helper-image-body{
	display: flex;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}
.date-start{
margin-left: 2%;
}
.date-close{
margin-right: 2%;
margin-left: auto;
}
.date-start-close{
	display: flex;
	color: #C1C0C0;
	font-size: 20px;
	width: 100%;
	margin-bottom: 70px;
}
.image-manual{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3%;
	width: 50%;
	transition: 1s;

}
.image-manual-max{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3%;
	width: 90%;
	transition: 1s;
}
p.question-one{
	color: #C1C0C0;
	font-size: 18px;
	margin-left: 4%;
}
p.question-two{
	color: #C1C0C0;
	font-size: 18px;
	margin-left: 4%;
}
p.question-three{
	color: #C1C0C0;
	font-size: 18px;
	margin-left: 4%;
}
.questions-box{
	margin-top: 100px;
}
.manul-box{
	margin-top: 100px;
}
.about-box{
	display: flex;
	margin-top: 200px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	background-color: #161214;
	border-radius: 20px 20px 10px 10px;
	width: 50%;
	box-shadow: 1px 1px 40px #251D21;

}
.vk{
	max-width: 100px;
	max-height: 100px;
	border-radius: 60px;
	box-shadow: 1px 1px 20px #000000;
}
.vk-box{
	max-width: 100px;
	max-height: 100px;
	border-radius: 60px;
	transition: 1s;
}
.vk-box:hover{
	transform: scale(1.1);
}
.telegram{
	max-width: 100px;
	max-height: 100px;

	border-radius: 60px;
	box-shadow: 1px 1px 20px #000000;
}
.telegram-box{
	transition: 1s;
	max-width: 100px;
	max-height: 100px;
	border-radius: 60px;
}
.telegram-box:hover{
	transform: scale(1.1);
}
.gmail{
	max-width: 100px;
	max-height: 100px;
	border-radius: 60px;
	box-shadow: 1px 1px 20px #000000;
}
.gmail-box{
	max-width: 100px;
	max-height: 100px;
	margin-left: 15%;
	margin-right: 15%;

	border-radius: 60px;

	transition: 1s;
}
.gmail-box:hover{
	transform: scale(1.1);
}